Makefile
geodash3
gdash3-editor
*.cmake

#for windows
.vs
gdash3-editor.exe
out
*~

#ignore all txt files
*.txt
#except for CMakeLists.txt
!CMakeLists.txt
#and level-list.txt
!level-list.txt

#ignore directory where deb packages are built
deb

CMakeFiles
